{# app/Resources/views/layout.html.twig #}
<style type="text/css">

</style>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">

<link rel="stylesheet" href="{{ asset('bundles/dchome/css/bootstrap/bootstrap.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/dchome/css/bootstrap/bootstrap-flex.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/dchome/css/bootstrap/bootstrap-grid.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/dchome/css/bootsrap/bootstrap-reboot.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/dchome/css/mdb.css') }}" type="text/css" />


<link href="/assets/css/style.css">
<link rel="stylesheet" href="{{ asset('bundles/dchome/css/main.css') }}" type="text/css" />
<script  src="{{ asset('js/jquery-3.1.1.js') }}"></script>
<script  src="{{ asset('js/jquery-ui.js') }}"></script>


<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>