{# src/DC/HomeBundle/Resources/views/Default/index.html.twig #}

<html>






    {{ include("::layout.html.twig") }}




    <title> Welcome to Book Your Washing</title>


    <body class="DChomepage">

    <div id="dialog" title="Basic dialog">
        <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
    </div>

    {{ include("::nav.html.twig") }}
    <section id="home__screen" class="jumbotron">
        <div id="tabs1">


            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <div class="homescreen__heading">
                    <span id="home__welcomeuser"> Welcome {{ app.user.username }} ! </span>

                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-raised btn-lg" id="home__logoutbutton" >LOG OUT</a>
                </div>

            {% endif %}








            <div class="DCHome__maintext">
                       <h2 class="DCHome__maintitle"> The easiest way to book a wash in any UK drycleaner ! </h2>

                            <p class="DCHome__subtitle"> Book online your washing machine ! </p>
                        </div>

                        <div class="DCHome__checkDC">

                            {{ form_start(form) }}

                                {{ form_errors(form) }}
                                {{ form_widget(form.postcode, {'attr': {'class': 'checkDC__postcode', 'placeholder' : 'Enter your postcode'}}) }}
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-info'}}) }}
                                {{ form_widget(form.ipaddress) }}
                                {{ form_widget(form.datetime) }}
                            {{ form_rest(form) }}

                           {{ form_end(form) }}
                        </div>
            </div>

        <div id="tabs2">

                    How to book a washing machine ?

                    <h3> In BookYourWash, everything is simple. </h3>

                    <ul>
                        <li> Firstly, enter your postcode to find nearest drycleaners in your city </li>
                        <li> Secondly, let's book your washing in a drycleaner in the list </li>
                        <li> Thirdly, you will get a booking code with a time to come in the drycleaner </li>
                        <li> Fourdly, you don't have to wait : just put your booking code in the washing machine enbedded-screen. </li>
                        <li> Yes! You can put your clothes in! </li>
                    </ul>

        </div>

        <div id="tabs3">
            Website made in 2016, by Mohamed Boubaker, Brighton University BSc European Computing student

            <p> For contacting the administrator, just fill out the form above. We'll be in touch as soon as possible ! </p>

            <form method="post" action="{{ path("home") }}"></form>

            <label for="email"> Your e-mail </label>
            <input type="email" name="email" id="email">

            <label for="msg"> Your message </label>
            <input type="textarea" name="msg" id="msg">
            </form>
        </div>

    </section>
    </body>

    <footer>

        <span id="home__webmastermsg"> 2016 - BookYourWashing, Website made by {{ webmaster }} </span>

    </footer>

</html>